/* CSS Geral */
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
    position: relative;

    background: #1B1D37;
    mix-blend-mode: normal;
    

    
}
body {
    background-color: #1B1D37;
    background-position:center;
    background-clip:unset;
    background-attachment: local;
    height: 868px;
    margin-left: -30px;
    

  }

  main {
    padding-inline: 100px;
    
  }
.container img {
    background-position:right;
    margin-left: 600px;
    margin-top:0px;
    max-width: 738px;
    max-height: 738px;
    width: auto;
    height: auto;
    display:flex;
    align-items: center;
    margin-right: 2px;
   
}
.container {
    clear: both;
    margin-top: -400px;
}
img {
    vertical-align: right
    
}

/* Barra de Menus e Navegação */
nav{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    top:0;
    left: 0;
    height: 132px;
    margin-block: auto;


}

#menu img{
    /* Logo Antares 1 */
    position: relative;
    width: 208px;
    height: 106px;
    top: -8px;

}
#menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 0;
    width: 100%;

}
#menu .menu-links{
    max-width: 1100px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-right: 58px;

    
}
#menu ul li{
    text-align: center;
    font-size: 1.0rem;
    vertical-align: middle;
    line-height: 90px;
    justify-content: space-between
    
}

#menu ul li a{
    text-decoration: none;
    color: #000000;
}

nav li:hover{
    font-weight: bolder;
}


form {
    font-family: Inter,sans-serif;
    font-size: 15px;
    background-color: #564596;
    max-width: 500px;
    position: relative;
    align-items: center;

}

h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #FFFFFF;
}

input, textarea {
    width: 200px;
    padding: 10px;
    color: #fffff;
    margin-top: 10px;
   
}

input:hover, textarea:hover, input:focus, textarea:focus {
    color: #ffffff;
    font-weight: bold;
}

.enviar {
    background-color: #1b1d37;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    font-color: #ffffff;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
    align-items: center;

}
footer .rodape{
    font-family: 'Inter';
    font-size: 9rem;
    color: #FFFFFF;
    padding-top: 700px;
    margin-left: 2%;
}
